<h1>Listing customers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Puppetmasters</th>
      <th>Puppetdb url</th>
      <th>Githubrepo url</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.name, admin_customer_path(customer) %></td>
      <td>
        <% for pm in Puppetmaster.find(:all) %>
          <%= pm.url if customer.puppetmasters.include?(pm) %>
        <% end %>
      </td>
      <td><%= customer.puppetdb_url %></td>
      <td><%= customer.githubrepo_url %></td>
      <td>
        <%= link_to 'Show', admin_customer_path(customer), :class => "btn btn-link" %>
      <% if can? :update, customer %>
        <%= link_to 'Edit', edit_admin_customer_path(customer), :class => "btn btn-link" %>
        <%= link_to 'Destroy', admin_customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %>
      <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<% if can? :update, @customers %>
  <%= link_to 'New Customer', new_admin_customer_path, :class => 'btn btn-primary', :role => 'button' %>
<% end %>