<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Password confirmation", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'input-xlarge' %>
    </div>
  </div>
<% for role in Role.find(:all) %> 
  <div class ="control-group">
    <%= f.label role.name , :class => 'control-label' %>
    <div class="controls">
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> 
    </div> 
  </div>
<% end %>
<% if @user.persisted? %>
  <div class ="control-group">
    <label class="control-label">Customers</label>
    <div class="controls">
      <%= f.collection_select :customer_ids, Customer.all, :id, :name, {:selected => @user.customer_ids}, {:multiple => true} %>
    </div> 
  </div>
<% end %>

  <div class ="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-success' %>
      <%= button_tag "Reset", type: :reset, :class => 'btn btn-danger' %>
      <%= link_to "Cancel", admin_users_path, :class => 'btn btn-default' %>
    </div>
  </div>

