<h1>User Detail</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role(s)</th>
      <th>Customer(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.email %></td>
      <td>
        <% for role in Role.find(:all) %>
          <%= role.name if @user.roles.include?(role) %>
        <% end %>
      </td>
    <td>
      <% for customer in Customer.find(:all) %>
        <%= customer.name if @user.customers.include?(customer) %>
      <% end %>
    </td>
    </tr>
  </tbody>
</table>

<%= link_to "Back", admin_users_path, :class => 'btn btn-default' %>
<% if can? :update, @user %>
  <%= link_to "Edit", edit_admin_user_path(@user), :class => 'btn btn-default' %>
  <%= link_to "Delete", admin_user_path(@user), :method => "delete", :confirm => "Are you sure?", :class => 'btn btn-danger' %>
<% else if @user.id == current_user.id %>
  <%= link_to "Edit", edit_user_registration_path(@user), :class => "btn btn-default" %>
<% end; end %>
